{% extends "base.html" %}
{% load static %}

{% block title %}
	{{ product }}
{% endblock %}

{% block content %}
	<h3>{{product}}</h3>
	<p class="text-muted">{{ product.category }} <span class="float-right">{{product.price}} INR</span></p>
	<hr/>
	<center>
		<img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'image/no_image.jpg'%} {% endif %}" class="img-thumbnail rounded {{image}}" />
	</center>
	<hr/>
	<div class="jumbotron">
	  <h3 class="display-4">{{ product }}</h1>
	  <p class="lead">{{product.description}} <span class="float-right text-muted">{{product.price}} INR</span></p>
	  <hr class="my-2">
	  <form action="{% url 'gurney:gurney_add'  product.id %}" method="post">
	  	{{add_product_to_gurney_form}}
	  	{% csrf_token %}
	  	<button class="btn btn-secondary btn-md" href="#" type="submit">Add to Cart</button>
	  </form>
	</div>
{% endblock %}