{% extends "base.html" %}
{% load static%}


{% block title%}
	{% if category %}
		{{ category.title }} products
	{% else %}
		Products
	{% endif %}
{% endblock %}

{% block content %}
	<h3> {{ category }} products </h3>
	{% for product in products %}
	<a href="{{product.get_absolute_url}}">
		<img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'image/no_image.jpg'%} {% endif %}" class="rounded" alt="{{ product.name }}" height="300" width="300" />
	</a>
	{% endfor %}	
{% endblock %}

